:root {
    --color: #86efac; /* Cor padrão, pode ser alterada */
}

.whatsapp-icon {
    position: fixed; /* Permite posicionamento fixo na tela */
    bottom: 1rem; /* Ajusta a posição em dispositivos móveis */
    right: 1rem; /* Ajusta a posição em dispositivos móveis */
    width: 4.5rem; /* Largura para tamanho padrão */
    height: 4.5rem; /* Altura para tamanho padrão */
    border-radius: 50%; /* Botão redondo */
    background: white; /* Fundo inicial transparente */
    border: 2px solid var(--color); /* Contorno inicial */
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Mostra o cursor clicável */
    z-index: 50; /* Garante que o botão fique no topo */
    overflow: hidden; /* Esconde o pseudo-elemento fora do círculo */
    transition: transform 0.3s ease-in-out, box-shadow 0.5s ease-in-out; /* Adiciona transição para brilho */
}

.whatsapp-icon::before {
    content: '';
    position: absolute;
    top: 100%; /* Começa fora do botão */
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--color); /* Cor de preenchimento */
    z-index: -1; /* Fica atrás do ícone */
    transition: top 0.5s ease-in-out; /* Animação de subida */
}

.whatsapp-icon:hover {
    transform: scale(1.1); /* Aumenta levemente o botão no hover */
    box-shadow: 0 0 15px var(--color), 0 0 30px var(--color); /* Adiciona efeito de brilho */
}

.whatsapp-icon:hover::before {
    top: 0; /* Preenche completamente o botão */
}

.whatsapp-icon img {
    position: relative;
    z-index: 50; /* Garante que a logo esteja visível */
    width: 50%; /* Ajusta o tamanho da logo */
    height: auto;
}
